/*IE 8 FIXES*/

header, section {
	display: block;
}

#draglist {
	min-height: 2em;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

body {
	background-color: #F0F8FF;
	margin: 0;
	padding: 0;
	font-family: "Raleway", Sans-Serif;
	line-height: 1.7;
	color: #383838;
}
h1 {
	margin: 0;
	font-size: 1.8em;
	padding: .7em 0;
	text-align: center;
}

header {
	background-color: #fae596;
}


section {
	margin: auto;
    width: 300px;
    width: 40vw;
}
textarea {
	width: 100%;
}
fieldset {
	border: none;
}
legend {
	font-size: 1.3em;
}